<div class="container">
  <div class="intro">
      <h1 class="text-center title">・Notebook・</h1>
      <h2 class="text-center subtitle">This page is a page where you can check the details of each note or a comment.</h2>
  </div>
  <div class="row row-show">
    <div class="col-md-1 text-space">
    </div>
    <div class="col-md-4 text-center">
      <p>
        <h3 class="strong">・Genre・</h3><br>
        <h4 class="instance"><%= @note.genre%></h4>
      </p>
      <p>
        <h3 class="strong">・Title・</h3><br>
        <h4 class="instance"><%= @note.title%></h4>
      </p>
      <p>
        <h3 class="strong">・contents・</h3><br>
        <p class="instance"><%= @note.contents%></p>
      </p>
    </div>
    <div class="col-md-1 text-space">
    </div>
    <div class="col-md-6 text-center">
      <h2 class="strong">Comments</h2>
      <% @note.notecomments.each do |notebook| %>
        <p>
          <div class="strong">Comment area:</div>
          <div class="instance"><%=notebook.user.username %>　<%= notebook.body %></div>
        </p>
      <% end %>
      <h2 class="strong">Create comment:</h2>
        <%= form_for([@note, @note.notecomments.build]) do |f| %>
          <p>
            <%= f.text_area :body %>
          </p>
          <p>
            <%= f.submit "create",class: 'btn btn-primary btn-lg btn-circle1 btn-xl center-block tweet-text' %>
          </p>
        <% end %>
    </div>
  </div>
</div>
