<div class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h1 class="text-center title">All of tweets</h1>
            <h2 class="text-center subtitle">This is the page where you can see the contents of all tweets.</h2>
            <a href="/tweets/new">
            <button type="button" class="btn btn-info btn-lg center-block"> Let's tweet  </button>
            </a>
        </div>
        <div class="row people">
          <% @tweet.each do |tweet| %>
            <div class="col-md-6 col-lg-4 item">
                  <div class="author text-center"><%= image_tag tweet.user.image.url, class: 'rounded-circle', :size =>'180x180' %><h3 class="name text-center"><%= tweet.user.username%></h3></div>
                  <% unless current_user?(tweet) %>
                    <% if logged_in? %>
                      <div id="follow_form">
                        <% if current_user.following?(tweet.user) %>
                          <%= form_for(current_user.active_relationships.find_by(following_id: tweet.user.id),html: { method: :delete }) do |f| %>
                            <%= f.submit "Unfollow", class: "btn btn-danger center-block unfollow-button" %>
                          <% end %>
                        <% else %>
                          <%= form_for(current_user.active_relationships.build) do |f| %>
                            <div><%= hidden_field_tag :following_id, @tweet.ids %></div>
                            <%= f.submit "Follow", class: "btn btn-primary center-block" %>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                <div class="box">
                    <p class="description text-center"><%= tweet.text %></p>
                </div>
                <div class="text-center">
                <tr>
                  <%if(user_confirmation(tweet))%>
                  <td><%= link_to 'Edit', edit_tweet_path(tweet)%></td>
                  <td><%= link_to 'Destroy', tweet_path(tweet),method: :delete, data: { confirm: 'Are you sure?' }%></td>
                  <%end%>
                  <td><%= link_to 'Comment', tweet_path(tweet),method: :get%></td>
                  <td><% if !tweet.good_users.include?(current_user) %>
                        <%= link_to goods_path(tweet_id: tweet.id), method: :post do %>
                        <%= image_tag 'icons/good_face.png', class: 'topic-index-icon' %>
                        <% end %>
                      <% end %></td>
                </tr>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</div>
