<div class="highlight-blue">
    <div class="container">
        <div class="intro">
            <h1 class="text-center tweetpage">This is the page where you can see the contents of all tweets</h1>
            <h3 class="text-center tweetpage">&#x1f447;All of your tweet content should be displayed below.&#x1f447;</h3>
      <% @tweet.each do |tweet| %>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 display-box">
            <h3 class="text-center">

              <tr>
                <td><%= tweet.user.username%></td>
                <td><%= tweet.text %></td>
                <td><%= link_to 'Edit', edit_tweet_path(tweet)%></td>
                <td><%= link_to 'Destroy', tweet_path(tweet),method: :delete, data: { confirm: 'Are you sure?' }%></td>
                <td><%= link_to 'Comment', tweet_path(tweet),method: :get%></td>
              </tr>
            </h3>
          </div>
        </div>
      <% end %>
        </div>
    </div>
</div>
