<div class="register-photo">
    <div class="form-container">
      <h1 class="text-center projectname">Welcome to pechakucha</h1>
      <p class="text-center">What's pechakucha?</p>
        <div class="form1">
            <h2 class="text-center"><strong>Create</strong> an account.</h2>
            <%= form_for :@user,url: pages_path do |f| %>
            <div class="form-group"><%= f.label :email, class: 'text-white' %><%= f.text_field :email, class: 'form-control' %></div>
            <div class="form-group"><%= f.label :username, class: 'text-white' %><%= f.text_field :username, class: 'form-control' %></div>
            <div class="form-group"><%= f.label :password, class: 'text-white' %><%= f.text_field :password, class: 'form-control' %></div>
            <div class="form-group"><%= f.label :password_confirmation, class: 'text-white' %><%= f.password_field :password_confirmation, class: 'form-control' %></div>
            <div class="form-group"><%= f.submit "create", class: 'btn-block btn-white' %></div><a href="/login" class="already">You already have an account? Login here.</a>
            <% end %>
        </div>
    </div>
</div>
