<!DOCTYPE html>
<html>
  <head>
    <title>Pechakucha</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Wendy+One" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
  <div class="container">
    <%= link_to root_path do %>
      <span><%= image_tag "icons/logo.png", class: "navbar-brand" %></span>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li>
          <%= link_to users_path do %>
            <%= image_tag "icons/userlist.png" %>
          <% end %>
        </li>
        <li>
          <%= link_to user_path(@current_user) do %>
            <%= image_tag "icons/profile.png" %>
          <% end %>
        </li>
        <li>
          <%= link_to goods_index_path do %>
            <%= image_tag "icons/good.png" %>
          <% end %>
        </li>
        <li>
          <%= link_to notes_path do %>
            <%= image_tag "icons/note.png" %>
          <% end %>
        </li>
        <li>
          <%= link_to tweets_path do %>
            <%= image_tag "icons/tweet.png" %>
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, method: :delete do %>
            <%= image_tag "icons/logout.png" %>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to pages_path do %>
            <%= image_tag "icons/register.png" %>
          <% end %>
        </li>
        <li>
          <%= link_to login_path do %>
            <%= image_tag "icons/login.png" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
